.button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.button--primary {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.button--default {
    background-color: var(--color-white);
    color: var(--color-gray);
}

.button__icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}
