.controls {
    max-width: 410px;
    width: 100%;
}

.controls-search {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--main-radius);
}

.controls-search-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.controls-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.controls-search input::placeholder {
    color: #0000004d;
}

.controls-actions {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 15px;
}

.controls-actions .button {
    justify-content: center;
}

.controls-actions .button span {
    display: none;
}

@media (min-width: 768px) {
    .controls-actions--three {
        justify-content: space-between;
        gap: 0;
    }

    .controls-actions--two {
        justify-content: flex-start;
        gap: 15px;
    }

    .controls-actions .button span {
        display: inline;
        font-size: 18px;
    }
}
